.photo-details-modal {
  
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position:absolute;
  top: 60%; /* Initial vertical center position */
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(150vh - 20px); 
  height: 850px;
  width: 70%;
  border-radius: 12px;
  overflow-y: auto; 
}

.photo-details-modal.hide {
  display: none;
}





.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
  
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.big-top-photo{
  
  user-select: none;
  width: 46VW;
  height: 30vw;
  object-fit: cover;
  margin-bottom: 0;
}

.photo-list__item_window {
  margin-top: 0.2em;
  margin-left: 10vw;
  margin-bottom: 0;
 
  
  border-color: transparent;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}


.small-photos-list{
  
  user-select: none;
  width: 11VW;
  height: 15vw;
  object-fit: cover;
  margin: 5px;
  flex: 0 0 calc(33.33% - 10px);
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.title{
  margin-left: 1.5em;
  margin-top: 1em;

  width: 95%;
}
.line{
  width: 95%;
  margin-top: 1em;
  margin-left: 1.5em;
  border-top: 1px solid #ccc;}

.item-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 16px; 
}