.photo-details-modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal.hide {
  display: none;
}




.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.big-top-photo{
  
  user-select: none;
  width: 46VW;
  height: 30vw;
  object-fit: cover;
  margin-bottom: 0;
}

.photo-list__item_window {
  margin-top: 0.2em;
  margin-left: 2em;
  margin-bottom: 0;
 
  
  border-color: transparent;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}
.list-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2em;
  width: 90%;
  margin-bottom: 3em;

}

.small-photos-list{
  
  user-select: none;
  width: 11VW;
  height: 15vw;
  object-fit: cover;
  margin: 5px;
  flex: 0 0 calc(33.33% - 10px);
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.title{
  margin-left: 2.5em;
}