.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  background-color: #FFFFFF;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}


.heart:not(.custom-styling){
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.5vw;
  padding-top: 0.1vw;
  padding-left: 1vw;
  // background-color: yellow;
  // height: 45px;
  // width: 30px;
  // border-radius: 50%;
  
  
}
.side-bar{
  display:flex;
  .topic{
    margin-top: 12px;
  }
  
}